

.home{
    height: 100vh;
    background-image: url("../images/home.jpg");
    background-size: cover;
    margin-top: 0px;
    margin-left:10px;
    margin-right:10px;
    background-color: #b5c3e0;
}


#h1{
    color:#f9fbff;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    padding: 120px;
    
}

.navbar{
    margin-bottom: 0px;
}

#ctag{
    font-family: cursive;
    
    color:#f9fbff;
    
    
}

#km{
    color:#f9fbff;
    font-family: cursive;
    font-size: 20px;
    
}

#about{
 height: 100vh;
 margin-top: 0px;
 margin-left:10px;
 margin-right:10px;
 background-color:#edeeef;
margin-bottom: 0px;
}


#heading_about{
    color:#45525e;
    font-family: cursive;
    
}

.about_text{

    padding: 60px;
    color: #6f7172;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}

.logo{
    padding: 40px;
}

#projects{
    height: 100vh;
    margin-top: 0px;
    margin-left: 10px;
    margin-right:10px;
    background-color:#edf8ff;

}

#contact{
    height: 100vh;
    margin-top: 0px;
    
    margin-right:10px;
    background-color:#edf8ff;

}

#footer{
    height: 30em;
    background-color:#878787;
    color:#edeeef;
    
}

.footerh{
    padding: 25px;
}


.fa {
    padding: 40px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-left: 200px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


  .fa-google {
    background: #dd4b39;
    color: white;
  }
  


#lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
  }
  
