

.home{
    height: 100vh;
    background-image: url("http://exustar.com/images/dynamicslideshow/slides/image5.jpg");
    background-size: cover;
    margin-top: 0px;
    margin-left:10px;
    margin-right:10px;
    background-color: #b5c3e0;
}


#h1{
    color:#f9fbff;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    padding: 120px;
    
}

.navbar{
    margin-bottom: 0px;
}

#ctag{
    font-family: cursive;
    
    color:#f9fbff;
    
    
}

#km{
    color:#f9fbff;
    font-family: cursive;
    font-size: 20px;
    
}

#about{
 height: 100vh;
 margin-top: 0px;
 margin-left:10px;
 margin-right:10px;
 background-color:#edeeef;

}


#heading_about{
    color:#45525e;
    font-family: cursive;
    
}

.about_text{

    padding: 60px;
    color: #6f7172;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
}

.logo{
    padding: 40px;
}