

.home{
    height: 88vh;
    background-image: url("http://exustar.com/images/dynamicslideshow/slides/image5.jpg");
    background-size: cover;
    margin-top: 0px;
    margin-left:10px;
    margin-right:10px;
    background-color: #b5c3e0;
}


#h1{
    color:#f9fbff;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    align-items: center;
    padding: 100px;
    margin-bottom: 0px;
}

.navbar{
    margin-bottom: 0px;
}

#ctag{
    font-family: cursive;
    font-size: 30px;
    color:#f9fbff;
    padding-top: 0px;
    
}

#km{
    color:#f9fbff;
    font-family: cursive;
    font-size: 20px;
    
}